<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='otpStyle.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">     
    <title>Login</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form method="POST" action="/otp">
                <h1>EMAIL verification</h1>
                <p>An OTP has been sent to {{otpEmailId}}</p>
                <input type="text" placeholder="OTP pin" name="otpPin">
                {% block invalid %}
                {% endblock %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div
    
</body>
</html>